<main class="login-container">

  <div class="login-card">
    <header class="login-header">
      <img ngSrc="../../../assets/Logo.png" alt="Logo da sua Empresa" class="app-logo" height="1024" width="1024">
      <h1>Bem-vindo(a) de volta!</h1>
    </header>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          required
          placeholder="seu.email@exemplo.com"
          autocomplete="email">
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          required
          placeholder="Sua senha"
          autocomplete="current-password">
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid || isLoading()">
        @if (isLoading()) {
          <span>Carregando...</span>
        } @else {
          <span>Entrar</span>
        }
      </button>
    </form>

    <div class="actions">
      <a [routerLink]="['/auth/register']" class="btn-link">Criar uma conta</a>
      <a [routerLink]="['/forgot-password']" class="btn-link">Esqueci minha senha</a>
    </div>

  </div>
</main>

