<div class="main-layout-container">

  <aside class="sidebar">
    <div class="sidebar-header">
      <img ngSrc="assets/Logo.png" alt="Logo" class="sidebar-logo" width="40" height="40">
      <h2>SimpleNotes</h2>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li>
          <a routerLink="/create-wallet" routerLinkActive="active-link">
            <span>Criar Cofre</span>
          </a>
          <a routerLink="/view-wallets" routerLinkActive="active-link">
            <span>Visualizar cofres</span>
          </a>
          <a routerLink="/" routerLinkActive="active-link">
            <span>Gerenciar Permissões</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="sidebar-footer">
      <a routerLink="/auth/login" class="logout-link">
        <i class="ph ph-sign-out"></i>
        <span>Sair</span>
      </a>
    </div>
  </aside>

  <div class="overlay" (click)="closeSidebar()"></div>

  <main class="content-area">
    <header class="content-header">
      <button class="menu-toggle" (click)="toggleSidebar()">
        <i class="ph ph-list">=</i>
      </button>
      <h1>Bem-vindo, {{userName()}}!</h1>
      <div class="user-profile" routerLink="/profile-card">
        <span>{{ userName().charAt(0).toUpperCase() }}</span>
      </div>
    </header>
    <div class="content-body">
      <router-outlet></router-outlet>
    </div>
  </main>

</div>
